export AWS_ACCESS_KEY_ID=00477bda33cbc6a0000000005
export AWS_SECRET_ACCESS_KEY=$(pass show nova/backblaze/nova-backup-jponchon)
export RESTIC_REPOSITORY=s3:s3.us-west-004.backblazeb2.com/nova-backup-jponchon
export RESTIC_PASSWORD_COMMAND="pass show nova/backblaze/nova-backup-jponchon-restic"
